<html>
    <head>
        <title> Most likes </title>
        <style>
            .content{
               padding:20px;
               font-size:15px;
               background-color:linen;
               color:indianred;
               
            }
        </style>
    </head>
    <body>
        <div class ="content">
        <h2 style= color:indianred>10 Most Liked Videos in YouTube </h2>
        {% for row in likes %}
        
        <p><b style =color:indianred>Video Name - </b>{{row["title"]}}</p>
        <p><b style =color:indianred>Views on the video - </b>{{row["views"]}}</p>
        <p><b style =color:indianred>Total Likes - </b><mark>{{row["likes"]}}</mark></p>
        <br> </br>
        
        {% endfor %}
        </div>
    </body>
</html>