<html>
    <head>
        <title> Statistics </title>
        <style>
            .content{
               padding:20px;
               font-size:20px;
               background-color:linen;
               color:lightcoral;
               text-align:center;
            }
            
        </style>
    </head>
    <body>
        <div class ="content">
            <p> <b>You can see the details associated with the video here</b></p>
                {% for row in row_stats %}
                    <p> <b style=color:indianred>Category ID - </b>  {{row["category_id"]}} &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b style=color:indianred> Comments - </b> 
                    {{row["comments_total"]}} </p>
                    <p>  
                    <b style=color:indianred> Likes - </b> 
                     {{row["likes"]}} 
                    </p>
                    <p><b style=color:indianred> Dislikes - </b> {{row["dislikes"]}} &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <b style=color:indianred> Date published - </b> 
                    {{row["date"]}} </p>
         
                {% endfor %}
        </div> 
    </body>
</html>
