<html>
    <head>
        <title> Youtube Video Details </title>
        <style>
           table{
                font-family : arial sans-serif;
                border-collapse : collapse;
                width : 100%;
            }
            td  {
                border: 1px;
                text-align: left;
                padding : 8px;
            }
            th  {
                border: 1px;
                text-align: left;
                padding : 8px;
            }
 
            
           
        </style>
    </head>
    <body>
        <h2 style=background-color:black;color:white;text-align:center> Top 50 Trending Youtube Vidoes </h2>
        
        <table>
            <tr style=background-color:indianred;color:white> 
                <th> Sr No </th>
                <th> Video ID </th>
                <th> Video Title </th>
                <th> Channel Title </th>
                <th> Views </th>
            </tr>
            {% for row in row_videoinfo %}
            <tr style=background-color:lightcoral;color:white>
                <td> <a href={{ url_for('statistics',id= row['id'])}}> {{row["id"]}} </a> </td>
                <td> {{row["video_id"]}} </td>
                <td> {{row["title"]}} </td>
                <td> {{row["channel_title"]}} </td>
                <td> {{row["views"]}} </td>
             </tr>
             {% endfor %}
        </table>
        
    </body>
</html>
